body {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.js-check-change{
	border-color: black;
	border-style: solid;
}
.nombre{
	color: #555;
  	text-shadow: 0.1px 0.2px 0.5px white;
	width: 120px;
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Amaranth', sans-serif;
	

}
.box{
    background-color: #f1f1f1;
	position: relative;
	margin-top: 10px;
	padding: 10px 35px;
	margin-left: 50px;
	border-radius: 15px;
	width: 250px;
	box-shadow: 1px 1px 3px black;
	
}
.switch 
{	
	box-shadow: 1px 1px 2px black;
	margin: 20px;
	width: 62px;
	height: 32px;
	background: #E5E5E5;
	z-index: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
	position: relative;
	border-radius:16px; 
	-moz-border-radius:16px; 
	-webkit-border-radius:16px; 
}
.switch:before 
{
	content: ' ';
	position: absolute;
	left: 1px;
	top: 1px;
	width: 60px;
	height: 30px;
	background: #FFFFFF;
	z-index: 1;
	border-radius:16px; 
	-moz-border-radius:16px; 
	-webkit-border-radius:16px; 
	-webkit-transition-duration: 300ms;
	transition-duration: 300ms;

}
.switch:after 
{
	content: ' ';
	height: 29px;
	width: 29px;
	border-radius: 28px;
	z-index: 2;
	background: #FFFFFF;
	position: absolute;
	-webkit-transition-duration: 300ms;
	transition-duration: 300ms;
	top: 1px;
	left: 1px;
	-webkit-box-shadow: 0 2px 5px #999999;
	box-shadow: 0 2px 5px #999999;
}
.switchOn , .switchOn:before
{
background: #017afd;
}
.switchOn:after
{
	left: 32px;
}

.slider-wrapper {
  margin: 50px 0 30px 30px;
  position: relative;
  width: 250px;
}

.display-box-label {
  font-size: 0.8em;
  position: absolute;
  right: -80px;
  top: -8px;
}

.display-box {
  background-color: #f7fcff;
  border-radius: 5px;
  font-size: 0.8em;
  height: 23px;
  right: -140px;
  padding-top: 4px;
  position: absolute;
  text-align: center;
  top: -10px;
  width: 50px;

  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
}



